* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20pc;
  color: white;
}
#header {
  background: rgb(36, 34, 34);
  padding: 2pc 0;
}
.header-nav {
  display: flex;
  gap: 6pc;
}
.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3pc;
  margin-top: 2pc;
}
.home img {
  width: 200px;
}
.a1 {
  width: 50px;
}
.home-detal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3pc;
  /* border-radius: 10px; */
}
.home-detal img {
  border-radius: 10px;
  margin-top: 10px;
  width: 180px;
  flex-wrap: wrap;
}
.ds {
  width: 205px;
  height: 360px;
  background: rgb(31, 31, 159);
  border-radius: 10px;
}
#bgfan {
  position: relative;
}
